#bucket_show.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel-heading.bucket_image
        = image_tag @bucket.image.url
    .panel-body
      %h1= @bucket.title 
      %p.description= @bucket.description
    .panel-footer
      .row
        .col-md-6
          %p.user
          Submitted by
          = @bucket.user.email
        .col-md-6
          .btn-group.pull-right
            = link_to like_bucket_path, method: :put, class: "btn btn-default" do
              %span.glyphicon.glyphicon-heart
                = @bucket.get_upvotes.size
            - if current_user.id == @bucket.user_id 
              = link_to "Edit", edit_bucket_path, class: "btn btn-success"
              = link_to "Delete",  bucket_path, method: :delete, data: { confirm: "Are you sure you want to delete the bucket?" }, class: "btn btn-danger"